In [1]:
import requests
import pandas as pd
from datetime import datetime, date

In [2]:
fmt = "csv"
request_date = date(2023, 5, 23)
NAERINGSKODE_URL = f"http://data.ssb.no/api/klass/v1/classifications/6/codesAt.{fmt}?date={request_date}"

naeringskoder = requests.get(NAERINGSKODE_URL, )

In [3]:
df = pd.read_csv(NAERINGSKODE_URL, encoding='ISO-8859-1', usecols=['code', 'level', 'shortName'])
df = df[df.level==2]

In [4]:
df.head()

    code  level                          shortName
0     01      2  Jordbruk, tilhør. tjenester, jakt
72    02      2   Skogbruk og tilhørende tjenester
85    03      2        Fiske, fangst og akvakultur
101   05      2   Bryting av steinkull og brunkull
108   06      2   Utvinning av råolje og naturgass

In [5]:
df.to_parquet('data/naeringskoder.parquet')